<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <div id="nav-btn-group" class="btn-group">
        <%= link_to "Home",    root_path, class: "btn btn-default" %>
        <%= link_to "Help",    help_path, class: "btn btn-default" %>
        <%= link_to "Sign in", '#', class: "btn btn-default" %>
      </div>
    </div>
  </div>
</header>